<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="dns-prefetch" href="{{ .Site.BaseURL }}">
  <link rel="preconnect" href="{{ .Site.BaseURL }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <title>
    {{- if not .IsHome -}}
      {{- if eq .Kind "page" -}}
        {{ .Title }}
      {{- else if eq .Data.Singular "category" -}}
        {{ .Data.Term }}
      {{- else if eq .Page.Kind "section" -}}
        {{ .Title }}
      {{- end }}
        -
    {{- end }}
    {{- .Site.Title -}}
  </title>
  {{- if eq .Kind "page" -}}
  <meta name="description" content="{{ .Summary }}">
  <meta name="author" content="{{ .Params.author | default .Site.Params.author }}">
  {{ else }}
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="author" content="{{ .Site.Params.author }}">
  {{- end }}
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i" rel="stylesheet">
  <link href="{{.Site.BaseURL}}atom-one-dark.min.css" rel="stylesheet">
  {{ $style := resources.Get "style.css" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  {{ with .Site.GetPage "section" "blog/_index.md" }}
  {{- with .OutputFormats.Get "rss" -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
  {{- end }}
  {{ with .OutputFormats.Get "jsonfeed" -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
  {{- end }}
  {{- end }}
</head>
<body class="{{if eq .Kind `page` }}single{{else}}list{{ if .IsHome }} home{{ end }}{{end}}">
  <header class="main">
    <a href="{{ .Site.BaseURL }}" class="title" aria-label="Uptime Ventures">
      {{ if .IsHome }}
      <h1>{{ .Site.Title }}</h1>
      {{ else }}
      <h2>{{ .Site.Title }}</h2>
      {{ end }}
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 500 500">
        <polygon fill="#f7941d"
                 points="124.78 126.64 0 181.7 0 55.05 124.78 0 124.78 126.64"
        />
        <polygon fill="#fbb040" 
                 points="249.57 55.05 124.78 0 124.78 126.64 249.57 181.7 249.57 55.05"
        />
      </svg>
    </a>
    <nav class="menu">
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="{{ if $currentPage.IsMenuCurrent `main` . }}active{{ end }}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </header>
  <main class="main">
