{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 4 versions",
          "safari >= 7",
          "ie >= 9"
        ],
        "node": "current"
      }
    }],
    "react"
  ],
  "plugins": [
    "markdown-in-js/babel",
    "transform-object-rest-spread"
  ]
}
