{{ partial "header.html" . }}
<div class="introduction">
  {{ .Content }}
</div>
<div class="block">
  <header>
    <h3>Writing</h3>
    <p>Our blog is where we share knowledge, investigate difficult technical questions, and prepare you to tackle challenges of the future.</p>
  </header>
  <ul class="shortlist">
    {{ with .GetPage "blog" }}
      {{ range first 3 .Pages }}
      <li>
        {{ $img := (.Resources.ByType "image").GetMatch "*feature*" }}
        <a href="{{ .Permalink }}">
          {{ with $img }}
            {{ $sm := $img.Fill "300x200 Center" }}
            {{ $lg := $img.Fill "600x337 Center" }}
            <img
              alt="{{ $img.Title }}"
              src="{{ $lg.RelPermalink }}"
              srcset="{{ $sm.RelPermalink }} 300w, {{ $lg.RelPermalink }} 600w"
              sizes="(min-width: 1570px) 300vw, (max-width: 1569px) and (min-width: 960px) 50vw, 93vw"
              width="{{ $sm.Width }}"
            >
          {{ end }}
          <h4>{{ .Title }}</h4>
        </a>
        <p>
          {{ .Summary | plainify | htmlUnescape }}...
        </p>
      </li>
      {{ end }}
    {{ end }}
  </ul>
</div>
{{ partial "footer.html" . }}
